body {
    background: url('img/Phoneasaurusrex.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper {
    width: 295px;
    height: 800px;
    margin: 0 auto;
    top: 545px;
    position: relative;
}

.wrapper .number {
    width: 96px;
    height: 79px;
    background: blue;
    margin: 1px;
    float: left;
    font-size: 50px;
    line-height: 79px;
    text-align: center;
    font-family: monospace;
}

.wrapper .number:last-child {
    margin-left: 99px;
}

.wrapper .number:hover {
    background: green;   
}

#arm {
    width: 100px;
    height: 1600px;
    top: 575px;
    left: 450px;
    position: absolute;
    background: yellow;
}

#arm .finger {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background: red;
}