body {
    background: url('img/Phoneasaurusrex.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.goal {
    margin-top: 280px;

}

.phonenums {
    color: white;
    margin-left: 644px;
    position: relative;
    font-size: 25px;
    font-family: monospace;
}

.wrapper {
    width: 295px;
    height: 800px;
    margin: 0 auto;
    top: 545px;
    position: relative;
}

.wrapper .number {
    width: 96px;
    height: 79px;
    margin: 1px;
    float: left;
    font-size: 50px;
    line-height: 79px;
    text-align: center;
    font-family: monospace;
}

.wrapper .number:last-child {
    margin-left: 99px;
}

.wrapper .number:hover {
    background: green;   
}

#arm {
    background: url('img/Arm.png');
    width: 150px;
    height: 1600px;
    top: 575px;
    left: 450px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}
#playerScore{
	z-index:-1;
}
#arm .finger {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}